node_modules
npm-debug.log
yarn-error.log
.git
.gitignore
.env
.env.example
.env.local
.env.*.local
.vscode
.idea
.DS_Store
*.log
storage/logs
storage/app
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
vendor
public/hot
tests
.github
docker
.docker
.editorconfig
.env.example
.gitattributes
.gitignore
CONTRIBUTING.md
LICENSE
README.md
docker-compose.yml
.gitlab-ci.yml
.travis.yml
phpdox.xml
phpmd.xml
phpunit.xml
composer.lock
package-lock.json
yarn.lock
tailwind.config.js
postcss.config.js
